[state]
developer = False
window_w = 1369
window_h = 1110
window_maximized = False
last_vendor = Baofeng
last_port = /dev/cu.usbserial-143320
last_model = UV-5R
warn_experimental_baofeng_uv-5r = False
recent0 = /Users/russellsherman/Baofeng_UV-5R_20200526.img
recent1 = /Users/russellsherman/RepeaterBook_CHIRP_2005261806.csv
recent2 = /Users/russellsherman/.chirp/stock_configs/US FRS and GMRS Channels.csv
last_dir = /Users/russellsherman
recent3 = /Users/russellsherman/.chirp/stock_configs/US MURS Channels.csv

[global]
warned_about_reporting = True

[noconfirm]
clone_instructions = False

[bandplan]
north_america = True

[radioreference]
username = kf5pkx
password = mqdQtsF?jebpxQZ27kF7hVYPw7cPaFNP
zipcode = 78660

[memedit]
column_order_dstarmemoryeditor = Loc,Frequency,Name,Tone Mode,Tone,ToneSql,DTCS Code,DTCS Rx Code,DTCS Pol,Cross Mode,Duplex,Offset,Mode,Power,Tune Step,Skip,Comment,URCALL,RPT1CALL,RPT2CALL,Digital Code
column_order_memoryeditor = Loc,Frequency,Name,Tone Mode,Tone,ToneSql,DTCS Code,DTCS Rx Code,DTCS Pol,Cross Mode,Duplex,Offset,Mode,Power,Tune Step,Skip,Comment

